body{
    background-color: rgb(155, 146, 146);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

td{
    padding: 10px;
    border: 1px solid #000;
}

.block-change{
    margin-left: 50px;
}